{{ form_start(form) }}
    {{ form_widget(form) }}
    {# Verifie si la route et produit_edit pour afficher les images #}
    {% if app.request.attributes.get('_route') == 'produit_edit' %}
        <h2> Images </h2>
        {% for image in produit.images %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.nom) }}" width="150px">
                 <a href="{{ path('produit_image_delete', {id: image.id})}}" data-delete-img data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
