{% extends 'base.html.twig' %}
{% block title %}
    Produit
{% endblock %}
{% block body %}
    <div class="the-navbar">
        {{ include('layout/navbar.html.twig') }}
    </div>
    <div class="container-fluid container-produit">
        <div class="row">
            <div class="col">
             {% for image in produit.images %}
                <img class="card-img-top" src="{{ asset('/uploads/' ~ image.nom) }}" alt="Image du produit">
            {% endfor %}
            </div>
            <div class="col col-text">
                <div class="element-produit">
                    <h2>
                        {{ produit.nom }}
                    </h2>
                    <p class="text-muted">
                        {{ produit.description }}
                    </p>
                    <p>
                        <span class="price"> {{ produit.prix }}  €  </span>
                    </p> 
                </div>
            </div>
        </div> 
                               {# <a href="{{ path('produit_index') }}">back to list</a>
                                
                                        <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a> 
                                
                                        {{ include('produit/_delete_form.html.twig') }}#}
    </div>
    {{ include('layout/footer.html.twig') }}
{% endblock %}
                            