{% extends 'base.html.twig' %}

{% block title %}Liste de tout les utilisateurs{% endblock %}

{% block body %}
    <h2>Liste de tout les utilisateurs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Delete</th>
                <th>Last login</th>
                <th>Last logout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.cp }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.dateDelete is empty ? ""  : user.dateDelete|date('d M Y H:i')|format_datetime('medium','short',locale='fr')}}</td>
                <td>{{ user.lastDateLogin is empty ? ""  : user.lastDateLogin|date('d M Y H:i')|format_datetime('medium','short',locale='fr') }}</td>
                <td>{{ user.lastDateLogout is empty ? ""  : user.lastDateLogout|date('d M Y H:i')|format_datetime('medium','short',locale='fr') }}</td>

                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
